.photo-card {
  margin: 10px;
  width: 300px;
}

.info-item {
  margin-bottom: 3px;
}

.photo-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 2px 6px rgb(0 0 0 / 80%);
  margin-bottom: 10px;
  transition-duration: 1000ms;
}

.photo-card img:hover {
  transform: scale(1.3);
  transition-duration: 1000ms;
}
