.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #5f66a0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
}

.input__wrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-form input {
  border-style: none;
  align-content: center;
  border-radius: 4px;
}

.search-form input :focus {
  outline: #5f66a0;
}

.search-form button {
  position: absolute;
  right: 0;
  width: 27px;
  height: 20px;
  border-style: none;
  background-color: #5f65a045;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-search {
  width: 14px;
  height: 14px;
  fill: #21145299;
}
